.nav {
	/* position: relative; */
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px;
	height: 30px;
	z-index: 2000;
	display: flex;
	justify-content: space-between;
	transition-timing-function: ease-in;
	transition: all 0.5s;
}
.searchIcon {
	color: white;
	position: relative;
	margin-right: 100px;
}
.searchIcon:hover {
	cursor: pointer;
}
.nav__black {
	background-color: #111;
}
.navLogo {
	position: fixed;
	left: 33px;
	width: 110px;
	object-fit: contain;
	transition: 0.4s ease-in;
}
.navLogo:hover {
	cursor: pointer;
	transform: scale(1.09);
}
.navAvatar {
	position: fixed;
	right: 20px;
	width: 35px;
	object-fit: contain;
	transition: 0.4s ease-in;
}
.navAvatar:hover {
	cursor: pointer;
	transform: scale(1.19);
}
.searchForm {
	position: absolute;
	display: none;
}
.searchContainer {
	border-radius: 12px;
	font-size: 0.8rem;
	width: 230px;
	padding: 5px;
}
.searchButton {
	border-radius: 12px;
	padding: 5px;
	background-color: gray;
	color: white;
}
